<div id="fade">

<!-- Links (sit on top) -->
<div class="w3-top">
  <div class="w3-row w3-padding w3-black">
    <div class="w3-col s3">
      <a href="#" class="w3-button w3-block w3-black">HOME</a>
    </div>
    <div class="w3-col s3">
      <a href="#about" class="w3-button w3-block w3-black">ABOUT</a>
    </div>
    <div class="w3-col s3">
      <a href="#experience" class="w3-button w3-block w3-black">SKILLS</a>
    </div>
  </div>
</div>

<div id="particles-js"></div>

<!-- Header with image -->
<div class="w3-display-container bgimg" id="home">
<div class="svg-wrapper">
<img src="assets/svg/colorcorrected.svg">
</div>

  <div class="w3-display-middle w3-center">
    <span class="w3-text-white title">Tobias Udd</span><br>
    <span class="w3-text-white subtitle">Software engineering student @ kth</span>
  </div>
</div>

<!-- Add a background color and large text to the whole page -->
<div class="bgcolor">

<!-- About Container -->
<div class="w3-container" id="about">
  <div class="w3-content" style="max-width:700px">
    <h5 class="w3-center w3-padding-64"><span class="w3-tag w3-wide subtitle textHeader">ABOUT ME</span></h5>
    <p>
		I am currently studying software engineering at KTH Kista.
		
		My interests are UX and web development, but I have knowledge in many areas in IT.
	</p>
    <p>
		I also do illustration and concept art in photoshop and illustrator.
	</p>
	<p>
		I am always looking for new technologies to learn.
	</p>
  </div>
</div>

<div class="w3-content" id="experience">
  <h5 class="w3-center w3-padding-64"><span class="w3-tag w3-wide subtitle textHeader">MY SKILLS</span></h5>
	  <p class="w3-center section">Programming languages</p>
      <p class="w3-wide">Java</p>
      <div class="w3-white">
        <div class="w3-dark-grey" style="height:28px;width:95%"></div>
      </div>
      <p class="w3-wide">C/C++</p>
      <div class="w3-white">
        <div class="w3-dark-grey" style="height:28px;width:50%"></div>
      </div>
      <p class="w3-wide">Erlang</p>
      <div class="w3-white">
        <div class="w3-dark-grey" style="height:28px;width:25%"></div>
  </div><br>
  <p class="w3-center section">Web Development</p>
      <p class="w3-wide">HTML</p>
      <div class="w3-white">
        <div class="w3-dark-grey" style="height:28px;width:75%"></div>
      </div>
      <p class="w3-wide">CSS</p>
      <div class="w3-white">
        <div class="w3-dark-grey" style="height:28px;width:65%"></div>
      </div>
	  <p class="w3-wide">JavaScript</p>
      <div class="w3-white">
        <div class="w3-dark-grey" style="height:28px;width:50%"></div>
      </div>
      <p class="w3-wide">PHP</p>
      <div class="w3-white">
        <div class="w3-dark-grey" style="height:28px;width:85%"></div>
  </div>
  <p class="w3-center section">Frameworks</p>
      <p class="w3-wide">Slim PHP</p>
      <div class="w3-white">
        <div class="w3-dark-grey" style="height:28px;width:50%"></div>
      </div>
      <p class="w3-wide">AngularJS</p>
      <div class="w3-white">
        <div class="w3-dark-grey" style="height:28px;width:25%"></div>
  </div>
</div>

<!-- End page content -->

<!-- Footer -->
<footer class="w3-center w3-padding-48 subtitle">
  <p>You can reach me at tudd@kth.se</p>
</footer>
</div>