<div ss-container>

<!-- Links (sit on top) -->
<div class="w3-top">
  <div class="w3-row w3-padding w3-black">
    <div class="w3-col s3">
      <a href="#" class="w3-button w3-block w3-black">HOME</a>
    </div>
    <div class="w3-col s3">
      <a href="#about" class="w3-button w3-block w3-black">ABOUT</a>
    </div>
    <div class="w3-col s3">
      <a href="#experience" class="w3-button w3-block w3-black">EXPERIENCE</a>
    </div>
  </div>
</div>

<div id="particles-js"></div>

<!-- Header with image -->
<div class="bgimg w3-display-container" id="home">
<div class="svg-wrapper">
<img src="assets/svg/colorcorrected.svg">
</div>

  <div class="w3-display-middle w3-center">
    <span class="w3-text-white title">Tobias Udd</span><br>
    <span class="w3-text-white subtitle">Software engineering student @ kth</span>
  </div>
</div>

<!-- Add a background color and large text to the whole page -->
<div class="bgcolor">

<!-- About Container -->
<div class="w3-container" id="about">
  <div class="w3-content" style="max-width:700px">
    <h5 class="w3-center w3-padding-64"><span class="w3-tag w3-wide subtitle textHeader">ABOUT ME</span></h5>
    <p>
		Description about Tobias Udd.
		More.
	</p>
    <p>
		I like to do this stuff.
	</p>
    <p><strong>Opening hours:</strong> everyday from 6am to 5pm.</p>
    <p><strong>Address:</strong> 15 Adr street, 5015, NY</p>
  </div>
</div>

<div class="w3-content" id="experience">
  <h5 class="w3-center w3-padding-64"><span class="w3-tag w3-wide subtitle textHeader">EXPERIENCE</span></h5>
      <p class="w3-wide">Photography</p>
      <div class="w3-white">
        <div class="w3-dark-grey" style="height:28px;width:95%"></div>
      </div>
      <p class="w3-wide">Web Design</p>
      <div class="w3-white">
        <div class="w3-dark-grey" style="height:28px;width:85%"></div>
      </div>
      <p class="w3-wide">Photoshop</p>
      <div class="w3-white">
        <div class="w3-dark-grey" style="height:28px;width:80%"></div>
  </div><br>
</div>

</div>

<!-- End page content -->

<!-- Footer -->
<footer class="w3-center w3-padding-48 w3-large">
  <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank" class="w3-hover-text-green">w3.css</a></p>
</footer>
</div>