.svg-wrapper {
	max-height: 1250px;
	overflow: hidden;
}

.svg-wrapper img {
	margin-top: -80px;
}

#fade {
	display: none;
}

#experience {
	max-width:700px;
}
.menu {
    display: none;
}

#particles-js {
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
}
.textHeader {
	background-color: initial;
	font-family: "Inconsolata", sans-serif;
}
.title {
	font-size: 90px;
}

.subtitle {
	font-size: 30px;
}

.section{
	font-size: 23px;
}

@media only screen and (max-width: 768px){
	.svg-wrapper img {
		margin-top: 0px;
	}
	
	.title {
		margin-top: 20px;
		font-size: 45px;
	}
}